nfserver.out
bin/
/.project
/.settings
/.classpath
/.externalToolBuilders
/build
/.idea/
/logs
/target
*.iml
*.orig
*~
conf/hdfs-site.xml
conf/core-site.xml
conf/hdfs-nfs-site.xml
conf/log4j.properties
