<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    
    <appender name="appender-stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="DEGUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" 
                   value="%7p %d{yyyy-MM-dd@kk:mm:ss:SSS} - %C{1}.%M:%L %m%n" />
        </layout>
    </appender>

    <appender name="appender-HDFS-NFS" 
              class="org.apache.log4j.rolling.RollingFileAppender">
<!--        <param name="DatePattern" value="'.'yyyy-MM-dd"/>-->
<!--        <param name="encoding" value="UTF-8" />-->
<!--        <param name="Append" value="true"/>-->
<!--        <param name="file" value="${java.io.tmpdir}/hdfsNFS-%d{yyyy-MM-dd}.log"/>-->
<!--        <param name="MaxBackupIndex" value="5"/>-->
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="${java.io.tmpdir}/hdfsNFS-%d{yyyy-MM-dd}.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" 
                   value="%7p %d{yyyy-MM-dd@kk:mm:ss:SSS} - %C{1}.%M:%L %m%n" />
        </layout> 
    </appender> 
    
    <logger name="com.cloudera.hadoop.hdfs.nfs" additivity="false">
        <priority value="DEBUG" />
        <appender-ref ref="appender-HDFS-NFS" />
        <appender-ref ref="appender-stdout" />
    </logger>


    <!-- default priority is info and all messages are logged to root -->
    <root>
        <priority value="INFO"/>
        <appender-ref ref="appender-stdout"/>
    </root>

</log4j:configuration>
